{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Learn From Failure</h1>
        <p class="lead fw-normal">Learn From Failure is an initiative of classroom is an online platform for the online courses and specially for sharing ideas and thoughts on the current and upcoming technologies. "Learning is a fun if you can enjoy and explore." Start coding from today.</p>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">About Us</h2>
          <p class="lead">Classroom here provides learning for the betterment of students and helps the students to explore their destiny. Classroom provides you the full guidance for learning Java, Python, C, ReactJS, Django, HTML, CSS, JavaScript etc preparation.
          </p>
          <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque laudantium minus atque, vitae id debitis nam labore ea itaque vero magnam, maiores fugiat nesciunt tenetur perspiciatis blanditiis similique quae. Totam?Join Now!</p>
        </div>
        {% comment %} <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        </div> {% endcomment %}
        <div>
            <p style="text-align: center; font-weight: bold;" class="lead">Location</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3681.67121548493!2d88.35931131479379!3d22.66604398513482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89cf8c797c0f5%3A0x923b29c7048921fd!2sAriadaha%20Sub%20Post%20Office!5e0!3m2!1sen!2sin!4v1663687698987!5m2!1sen!2sin" width="90%" height="450" style="border:0; border-top-left-radius: 25px; border-top-right-radius: 25px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
  </main>
  <div class="container d-flex justify-content-center" style="margin-top: 52px;">
    <div class="card mb-4" style="max-width: 1173px;">
        <div class="row">
          <div class="col-md-3">
            <img src="static/aditya.jfif" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-9">
            <div class="card-body mx-3" style="text-align: justify;">
              <h5 class="card-title">About the Creator</h5>
              <p class="card-text">Hello everyone! My name is Aditya Banerjee. I live in Dakshineswar, Ariadaha. Currently I am pursuing B.Tech from Camellia Institute Of Technology specialised in Computer Science &amp; Engineering department. My skills include proficiency in core java, python, and I am also knowledgeable with some basics of HTML, CSS &amp; JS as well.</p>
              <p>
                In short, I am a very hardworking and responsible person who can adapt to new technologies and environments very quickly to cope up with the real world. And the goal in my life is to become a successful full stack developer by showcasing my skills and passion in the frontend and backend development and to build my career in a growing company where I can get ample opportunities to prove my skills by accepting new challenges through effective learning and commitment. 
                </p>
                <p>THANK YOU!</p>

                <ul>
                    <li><a href="https://www.linkedin.com/in/aditya-banerjee-875aa4192" target="_blank">LinkedIn</a></li>
                    <li><a href="https://www.facebook.com/" target="_blank">facebook</a></li>
                    <li><a href="https://www.instagram.com/direct/inbox/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.banerjeeaditya969@gmail.com" target="_blank">Gmail</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock body %}