{% extends 'base.html' %}

{% block title %}Courses{% endblock title %}

{% block body %}
    <div class="container my-4">
        <h1 class="d-flex justify-content-center my-3" style="font-family: 'Josefin Sans', sans-serif; font-size: 73px;">Courses We Offer</h1>
        <p class="text-design">Join the Online Classes and enjoy the feeling of learning. These Online Classes contain online notes along with assignments by which you can guess how much you can ask your questions. If you are not a registered student then first enroll to any of the courses mentioned below before joining the class.</p>
        <p class="text-design">
            These classes will definately help you to learn the course under the course guidance from any remote location. So, why are you waiting for? Join now.
        </p>
    </div>
    <div>
        <div class="row d-flex justify-content-center">
            <div class="card my-3 mx-4" style="width: 25rem;">
                <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank"><img src="static/Java_0.jpg" class="card-img-top my-3 img-height" alt="..."></a>
                <div class="card-body">
                    <h1>Java Programming</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card my-3 mx-4" style="width: 25rem;">
                <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank"><img src="static/python.png" class="card-img-top my-3 img-height" alt="..."></a>
                <div class="card-body">
                    <h1>Python Programming</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card my-3 mx-4" style="width: 25rem;">
                <a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank"><img src="static/c_home.jpg" class="card-img-top my-3 img-height" alt="..."></a>
                <div class="card-body">
                    <h1>C Programming</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card my-3 mx-4" style="width: 25rem;">
                <a href="https://reactjs.org/" target="_blank"><img src="static/react.png" class="card-img-top my-3 img-height" alt="..."></a>
                <div class="card-body">
                    <h1>ReactJS</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card my-3 mx-4" style="width: 25rem;">
                <a href="https://www.djangoproject.com/" target="_blank"><img src="static/django.jpg" class="card-img-top my-3 img-height" alt="..."></a>
                <div class="card-body">
                    <h1>Django</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card my-3 mx-4" style="width: 25rem;">
                <a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank"><img src="static/flask.jpg" class="card-img-top my-3 img-height" alt="..."></a>
                <div class="card-body">
                    <h1>Flask</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card my-3 mx-4" style="width: 25rem;">
                <a href="https://en.wikipedia.org/wiki/HTML" target="_blank"><img src="static/html.png" class="card-img-top my-3 img-height" alt="..."></a>
                <div class="card-body">
                    <h1>HTML</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card my-3 mx-4" style="width: 25rem;">
                <a href="https://en.wikipedia.org/wiki/CSS" target="_blank"><img src="static/css.jpg" class="card-img-top my-3 img-height" alt="..."></a>
                <div class="card-body">
                    <h1>CSS</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card my-3 mx-4" style="width: 25rem;">
                <a href="https://en.wikipedia.org/wiki/JS" target="_blank"><img src="static/javascript.jpg" class="card-img-top my-3 img-height" alt="..."></a>
                <div class="card-body">
                    <h1>JavaScript</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}